@use "../base//variables" as *;

.encounterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.infoComplete {
  width: 600px;
  min-width: 350px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
