@use "../base//variables" as *;
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  .landingContainer {
    max-width: 650px;
    text-align: center;
    background: $color-beige-light;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px rgb(0 0 0 / 48%);
    p {
      margin: 30px 0;
      font-size: 1.5rem;
    }
    h1 {
      font-size: 3rem;
    }
    button {
      font-size: 1.5rem;
      color: $color-brown;
      border: 2px solid $color-brown;
      border-radius: 5px;
      background-color: $color-beige-light;
      &:hover,
      &:focus {
        background-color: $color-brown;
        color: $color-beige-light;
        border-color: $color-beige-light;
      }
    }
  }
}
body {
  background: url("../assets/intro/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
