@use "../base//variables" as *;

.pickContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 0;
  background-color: $color-beige-light;
  border-radius: 10px;
  animation: fadeInCard 1s ease-in 1;
  .pokemonCount {
    height: 35px;
    width: 9%;
    min-width: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .pokemonFilters {
    width: 90%;
    // padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.2s linear;
    padding: 0 20px;
    .searcherButton {
      height: 45.75px;
      border: 1px solid gray;
      cursor: pointer;
      transition: all 0.1s linear;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-beige-light;
      border-radius: 5px;
      color: $color-brown;
      &:hover,
      &:focus,
      &:active {
        border-color: $color-beige-light;
        color: $color-beige-light;
        background-color: $color-brown;
      }
    }
  }
  .sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 260px;
    height: 45.75px;
    svg {
      pointer-events: none;
    }
    p {
      margin: 0 5px;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
    .azBtn {
      width: 40px;
    }
    input:checked + label {
      border-color: $color-beige-light;
      color: white;
      background-color: $color-brown;
    }
    label {
      cursor: pointer;
      transition: all 0.1s linear;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-beige-light;
      border-radius: 5px;
      border: 1px solid $color-brown;
      color: $color-brown;
      &:hover,
      &:focus,
      &:active {
        border-color: $color-beige-light;
        color: $color-beige-light;
        background-color: $color-brown;
      }
    }
  }
  .searchContainer {
    display: flex;
    justify-content: flex-start;
  }
  .filterContainer {
    display: flex;
    justify-content: flex-end;
  }
  .search {
    // input {
    //   padding: 5px 10px;
    //   border-radius: 5px;
    //   border: 1px solid $color-brown;
    //   min-width: 100px;
    //   max-width: 210px;
    // }
    width: 160px;
  }
}
.pokeGenButtons {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .genRadio {
    margin: 0;
    height: calc(100% / 9);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    input:checked + label {
      border-color: $color-beige-light;
      color: white;
      background-color: $color-brown;
    }
    label {
      cursor: pointer;
      transition: all 0.1s linear;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-beige-light;
      border-radius: 5px;
      border: 1px solid $color-brown;
      color: $color-brown;
      &:hover,
      &:focus,
      &:active {
        border-color: $color-beige-light;
        color: $color-beige-light;
        background-color: $color-brown;
      }
    }
  }
  .selected {
    border-color: $color-beige;
    color: $color-beige;
    background-color: $color-brown;
  }
}
.pokemonList {
  width: 90%;
  min-height: 500px;
  background-color: $color-beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: scroll;
  padding: 10px;
  margin: 0;
  .loader {
    border-radius: 10px;
    width: 101%;
    height: 101%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    cursor: wait;
  }
  .pokemonCard {
    width: calc(100% / 5 - 20px);
    // *************saving styles in case I get rid of tilt*********
    // border-radius: 10px;
    // background-color: white;
    // text-align: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // align-items: center;
    // font-size: 0.8rem;
    // padding: 5px;
    // border: 1px solid $color-brown;
    margin: 10px;
    min-width: 140px;
    p {
      text-transform: capitalize;
    }
    .tiltStyles {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      font-size: 0.8rem;
      padding: 5px;
      // margin: 5px;
      border: 1px solid $color-brown;
    }
    img {
      cursor: pointer;
      transition: all 0.2s linear;
      border-radius: 10px;
      &:hover {
        border: 1px solid $color-brown;
        background-color: $color-beige-light;
      }
    }
  }
}

.bottomContainer {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-top: 20px;
  .pickerMessage {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 25%;
    left: 20%;
    padding-right: 30px;
    * {
      margin-bottom: 10px;
    }
  }
}
.singlePokemon {
  position: absolute;
  border-radius: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeInCard 0.2s 1;
  .singleTop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .singleImage {
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .singleStats {
    width: auto;
    min-width: 370px;
    color: $color-brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgb(236 229 206);
    padding: 30px;
    border-radius: 10px;
    .pokeIcon {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin: 0 5px 0 20px;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .typeContainer,
      .statWrapper {
        width: auto;
      }
      .statWrapper {
        display: flex;
        justify-content: flex-end;
      }
    }
    h4 {
      text-transform: capitalize;
      font-size: 1.3rem;
      margin: 2px;
    }
    span {
      text-transform: capitalize;
      font-size: 1.3rem;
    }
  }
  .singleButtons {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    button {
      position: absolute;
      bottom: 10px;
      background-color: $color-brown;
      color: $color-beige-light;
      width: 250px;
      margin: 0 20px;
      &:hover,
      &:focus {
        background-color: $color-beige-light;
        color: $color-brown;
      }
    }
    .backButton {
      transform: translate(-50%, -50%);
      left: 25%;
    }
    .pickButton {
      transform: translate(-50%, -50%);
      left: 75%;
    }
  }
  .loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}
.favoriteContainer {
  position: absolute;
  z-index: 1000;
  background: $color-beige-light;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .inputWrapper {
    display: flex;
  }
  .bottomWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    min-width: 600px;
  }
  .choiceView {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 10px;
    background-color: $color-beige;
    img {
      width: 200px;
    }
  }
  .backButton {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .finalSubmit {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
}

@keyframes fadeInCard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes growShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
