@use "../base//variables" as *;

.progressBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 100px 0;
  .progressBarContact,
  .progressBarPicks {
    width: 50%;
    position: relative;
    button p {
      font-size: 1.2rem;
    }
  }
  .contactMilestone {
    min-width: 50px;
    min-height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .milestoneIcon {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 10;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border-radius: 50%;
    padding: 0;
    background-color: white;
    svg {
      border-radius: 50%;
      pointer-events: none;
      &:hover {
        background-color: $color-beige;
      }
    }
    &:hover {
      background-color: rgb(248, 248, 227);
    }
    p {
      font-size: 0.7rem;
      pointer-events: none;
    }
  }
  .milestoneName {
    left: 0;
  }
  .milestonePhone {
    left: 50%;
  }
  .milestoneAddress {
    left: 100%;
  }
  button {
    color: black;
    background-color: $color-beige;
  }
  .homeButton,
  .pickButton {
    width: 100px;
    height: 50px;
    padding: 0;
    border-radius: 10px;
    background-color: transparent;
    img {
      object-fit: cover;
      border-radius: 10px;
      height: 100%;
    }
  }
  .homeButton {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: auto;
    width: auto;
    position: relative;
    top: 0px;
    right: 60px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $color-beige-light;
    }
    img {
      width: 100%;
      object-fit: contain;
      height: 40px;
      margin: 0 5px;
    }
  }
  .pickButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: auto;
    width: auto;
    position: relative;
    top: 0px;
    right: -60px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $color-beige-light;
    }
    img {
      width: 100%;
      object-fit: contain;
      height: 40px;
      margin: 0 5px;
    }
  }
}
