@use "../base//variables" as *;

.progressBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 100px 0;
  .progressBarContact,
  .progressBarPicks {
    width: 50%;
    position: relative;
  }
  .contactMilestone {
    min-width: 50px;
    min-height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .milestoneIcon {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 10;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border-radius: 50%;
    padding: 0;
    background-color: white;
    svg {
      border-radius: 50%;
      pointer-events: none;
      &:hover {
        background-color: $color-beige;
      }
    }
    &:hover {
      background-color: rgb(248, 248, 227);
    }
    p {
      font-size: 0.7rem;
      pointer-events: none;
    }
  }
  .milestoneName {
    left: 0;
  }
  .milestonePhone {
    left: 50%;
  }
  .milestoneAddress {
    left: 100%;
  }
  button {
    color: black;
    background-color: $color-beige;
  }
  .homeButton,
  .pickButton {
    width: 100px;
    height: 50px;
    padding: 0;
    border-radius: 10px;
    background-color: transparent;
    img {
      object-fit: cover;
      border-radius: 10px;
      height: 100%;
    }
  }
  .homeButton {
    background-image: url("../assets/animated/pokeBlue.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .pickButton {
    background-image: url("../assets/animated/picker.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
