html {
  font-size: 125%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: none;
  padding: none;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.wrapper {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.MuiOutlinedInput-notchedOutline {
  border-color: grey !important;
}

body {
  font-family: "Baloo 2", cursive;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}

.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  width: 600px;
  min-width: 350px;
}
.formContainer form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userNameContainer,
.userPhoneContainer,
.userAddressContainer {
  width: 100%;
  min-width: 350px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.userNameContainer img,
.userPhoneContainer img,
.userAddressContainer img {
  width: 250px;
}

.pikaGif,
.charGif,
.cuboneGif,
.politoedGif {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 50px;
  height: 450px;
}
.pikaGif img,
.charGif img,
.cuboneGif img,
.politoedGif img {
  margin-top: 30px;
}

.pikaGif img {
  margin-left: 100px;
}

.politoedGif img {
  width: 250px;
  margin-top: 10px;
}

.contactButtons {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  background-color: rgba(236, 229, 206, 0.6980392157);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.contactButtons button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #774f38;
  border: 2px solid #c8c8a9;
  font-weight: bold;
  height: 110px;
  width: 110px;
  border-radius: 50%;
}
.contactButtons button:hover {
  color: #774f38;
  background-color: rgba(236, 229, 206, 0.6980392157);
  border: 2px solid rgba(236, 229, 206, 0.6980392157);
}
.contactButtons .buttonNext {
  right: 0;
  bottom: 100px;
}
.contactButtons .buttonBack {
  left: 0;
  bottom: 100px;
}
.contactButtons .testClearButton {
  top: 0;
  right: -100px;
  height: 50px;
  width: 50px;
}
.contactButtons .completeButton {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  padding: 10px 20px;
}

.progressBarContainer {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progressBarContainer .progressBarContact,
.progressBarContainer .progressBarPicks {
  width: 100%;
  position: relative;
}
.progressBarContainer .contactMilestone {
  min-width: 50px;
  min-height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  border: 5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progressBarContainer .milestoneIcon {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 10;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: white;
}
.progressBarContainer .milestoneIcon svg {
  border-radius: 50%;
  pointer-events: none;
}
.progressBarContainer .milestoneIcon svg:hover {
  background-color: rgba(236, 229, 206, 0.6980392157);
}
.progressBarContainer .milestoneIcon:hover {
  background-color: rgba(236, 229, 206, 0.6980392157);
}
.progressBarContainer .milestoneIcon p {
  font-size: 0.7rem;
}
.progressBarContainer .milestoneName {
  left: 20%;
}
.progressBarContainer .milestonePhone {
  left: 40%;
}
.progressBarContainer .milestoneAddress {
  left: 60%;
}
.progressBarContainer .milestoneComplete {
  left: 100%;
}
.progressBarContainer button {
  color: black;
  background-color: rgba(236, 229, 206, 0.6980392157);
}

.userNameContainer p,
.userPhoneContainer p,
.userAddressContainer p,
.infoComplete p {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.3rem;
  font-size: 15px;
  color: #774f38;
  background-color: rgba(236, 229, 206, 0.6980392157);
  padding: 30px 40px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px rgba(131, 175, 155, 0.6117647059);
  font-family: "Baloo 2", cursive;
  max-width: 500px;
}

.infoComplete p {
  padding: 20px 30px;
}

.userNameContainer p:after,
.userPhoneContainer p:after,
.userAddressContainer p:after,
.infoComplete p:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-fill-color: rgba(236, 229, 206, 0.6980392157);
  text-shadow: 22px 22px rgba(131, 175, 155, 0.6117647059);
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: rgba(236, 229, 206, 0.6980392157);
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px rgba(131, 175, 155, 0.6117647059);
  z-index: -2;
}

.scrollText {
  position: relative;
}

.scrollTextIcon svg {
  animation: size 1s linear infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
@keyframes size {
  0% {
    transform: scale(1);
    color: #774f38;
  }
  50% {
    transform: scale(1.2);
    color: #c8c8a9;
  }
  100% {
    transform: scale(1);
    color: #774f38;
  }
}
.pickContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  width: 600px;
  min-width: 350px;
}

/*# sourceMappingURL=App.css.map */
