html {
  font-size: 125%;
  line-height: 1.15;
  min-height: 100vh;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: none;
  padding: none;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.wrapper {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.MuiOutlinedInput-notchedOutline {
  border-color: grey !important;
}

.loader {
  position: absolute;
  top: 25%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader span {
  display: block;
  margin-top: 20px;
}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames 0.8s linear 0s infinite;
}

.pokeball:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -4px;
}

.pokeball:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}

/* AnimationFrames */
@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Baloo 2", cursive;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}

.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  width: 600px;
  min-width: 350px;
}
.formContainer form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userNameContainer,
.userPhoneContainer,
.userAddressContainer {
  position: relative;
  width: 100%;
  min-width: 350px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.userNameContainer img,
.userPhoneContainer img,
.userAddressContainer img {
  width: 250px;
}

.pikaGif,
.charGif,
.cuboneGif,
.politoedGif {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 50px;
  height: 450px;
  transition: opacity 0.5s linear;
}
.pikaGif img,
.charGif img,
.cuboneGif img,
.politoedGif img {
  margin-top: 30px;
}

.pikaGif img {
  margin-left: 100px;
}

.politoedGif img {
  width: 250px;
  margin-top: 10px;
}

.contactButtons {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  background-color: rgba(236, 229, 206, 0.6980392157);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.contactButtons button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #774f38;
  border: 2px solid #c8c8a9;
  font-weight: bold;
  height: 110px;
  width: 110px;
  border-radius: 50%;
}
.contactButtons button:hover {
  color: #774f38;
  background-color: rgba(236, 229, 206, 0.6980392157);
  border: 2px solid rgba(236, 229, 206, 0.6980392157);
}
.contactButtons .buttonNext {
  right: 0;
  bottom: 100px;
}
.contactButtons .buttonBack {
  left: 0;
  bottom: 100px;
}
.contactButtons .testClearButton {
  top: 0;
  right: -100px;
  height: 50px;
  width: 50px;
}
.contactButtons .completeButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contactButtons .quizButton,
.contactButtons .skipButton {
  width: 50%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
}
.contactButtons .quizButton:hover,
.contactButtons .skipButton:hover {
  background-color: #774f38;
}
.contactButtons .quizButton:hover a,
.contactButtons .skipButton:hover a {
  color: rgba(236, 229, 206, 0.6980392157);
}

.progressBarContainer {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progressBarContainer .progressBarContact,
.progressBarContainer .progressBarPicks {
  width: 100%;
  position: relative;
}
.progressBarContainer .contactMilestone {
  min-width: 50px;
  min-height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  border: 5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progressBarContainer .milestoneIcon {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 10;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: white;
}
.progressBarContainer .milestoneIcon svg {
  border-radius: 50%;
  pointer-events: none;
}
.progressBarContainer .milestoneIcon svg:hover {
  background-color: rgba(236, 229, 206, 0.6980392157);
}
.progressBarContainer .milestoneIcon:hover {
  background-color: rgba(236, 229, 206, 0.6980392157);
}
.progressBarContainer .milestoneIcon p {
  font-size: 0.7rem;
}
.progressBarContainer .milestoneName {
  left: 20%;
}
.progressBarContainer .milestonePhone {
  left: 40%;
}
.progressBarContainer .milestoneAddress {
  left: 60%;
}
.progressBarContainer .milestoneQuiz {
  left: 80%;
}
.progressBarContainer .milestoneComplete {
  left: 100%;
}
.progressBarContainer button {
  color: black;
  background-color: rgba(236, 229, 206, 0.6980392157);
}

.userNameContainer p,
.userPhoneContainer p,
.userAddressContainer p,
.infoComplete p {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.2rem;
  font-size: 15px;
  color: #774f38;
  background-color: rgba(236, 229, 206, 0.6980392157);
  padding: 30px 40px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px rgba(131, 175, 155, 0.6117647059);
  font-family: "Baloo 2", cursive;
  max-width: 500px;
  font-size: 0.77rem;
}

.infoComplete p {
  padding: 20px 30px;
}

.userNameContainer p:after,
.userPhoneContainer p:after,
.userAddressContainer p:after,
.infoComplete p:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-fill-color: rgba(236, 229, 206, 0.6980392157);
  text-shadow: 22px 22px rgba(131, 175, 155, 0.6117647059);
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: rgba(236, 229, 206, 0.6980392157);
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px rgba(131, 175, 155, 0.6117647059);
  z-index: -2;
}

.scrollText {
  position: relative;
}

.scrollTextIcon svg {
  animation: size 1s linear infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
@keyframes size {
  0% {
    transform: scale(1);
    color: #774f38;
  }
  50% {
    transform: scale(1.2);
    color: #c8c8a9;
  }
  100% {
    transform: scale(1);
    color: #774f38;
  }
}
.pickContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  min-width: 350px;
  background-color: rgba(236, 229, 206, 0.4588235294);
  border-radius: 10px;
}

.pokemonContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}
.pokemonContainer .pokemonCount {
  height: 35px;
  width: 9%;
  min-width: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 20px;
}
.pokemonContainer .pokemonFilters {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: opacity 0.2s linear;
}
.pokemonContainer .sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 260px;
}
.pokemonContainer .sort p {
  margin: 0 5px;
}
.pokemonContainer .sort div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pokemonContainer .sort input:checked + label {
  border-color: rgba(236, 229, 206, 0.4588235294);
  color: white;
  background-color: #774f38;
}
.pokemonContainer .sort label {
  cursor: pointer;
  transition: all 0.1s linear;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 229, 206, 0.4588235294);
  border-radius: 5px;
  border: 1px solid #774f38;
  color: #774f38;
}
.pokemonContainer .sort label:hover, .pokemonContainer .sort label:focus, .pokemonContainer .sort label:active {
  border-color: rgba(236, 229, 206, 0.4588235294);
  color: rgba(236, 229, 206, 0.4588235294);
  background-color: #774f38;
}
.pokemonContainer .search {
  margin-right: 50px;
}
.pokemonContainer .search input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #774f38;
  min-width: 100px;
  max-width: 210px;
}

.pokeGenButtons {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pokeGenButtons .genRadio {
  margin: 0;
  height: 11.1111111111%;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokeGenButtons .genRadio input:checked + label {
  border-color: rgba(236, 229, 206, 0.4588235294);
  color: white;
  background-color: #774f38;
}
.pokeGenButtons .genRadio label {
  cursor: pointer;
  transition: all 0.1s linear;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 229, 206, 0.4588235294);
  border-radius: 5px;
  border: 1px solid #774f38;
  color: #774f38;
}
.pokeGenButtons .genRadio label:hover, .pokeGenButtons .genRadio label:focus, .pokeGenButtons .genRadio label:active {
  border-color: rgba(236, 229, 206, 0.4588235294);
  color: rgba(236, 229, 206, 0.4588235294);
  background-color: #774f38;
}
.pokeGenButtons .selected {
  border-color: rgba(236, 229, 206, 0.6980392157);
  color: rgba(236, 229, 206, 0.6980392157);
  background-color: #774f38;
}

.pokemonList {
  width: 90%;
  min-height: 500px;
  background-color: rgba(236, 229, 206, 0.6980392157);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: scroll;
  padding: 10px;
  margin: 0;
}
.pokemonList .loader {
  border-radius: 10px;
  width: 101%;
  height: 101%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  cursor: wait;
}
.pokemonList .pokemonCard {
  width: calc(20% - 20px);
  margin: 10px;
}
.pokemonList .pokemonCard p {
  text-transform: capitalize;
}
.pokemonList .pokemonCard .tiltStyles {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  padding: 5px;
  border: 1px solid #774f38;
}
.pokemonList .pokemonCard img {
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 10px;
}
.pokemonList .pokemonCard img:hover {
  border: 1px solid #774f38;
  background-color: rgba(236, 229, 206, 0.4588235294);
}

.bottomContainer {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-top: 20px;
}
.bottomContainer .pickerMessage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 25%;
  left: 20%;
}
.bottomContainer .pickerMessage * {
  margin-bottom: 10px;
}

.singlePokemon {
  position: absolute;
  border-radius: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
}
.singlePokemon .singleTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.singlePokemon .singleImage {
  width: 45%;
  max-height: 480px;
}
.singlePokemon .singleStats {
  width: 45%;
  color: white;
}

.quizContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  width: 600px;
  min-width: 350px;
}
.quizContainer quiz {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz {
  transform: translatey(0px);
  mix-blend-mode: multiply;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.2rem;
  color: #774f38;
  background-color: rgba(236, 229, 206, 0.6980392157);
  padding: 30px 40px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px rgba(131, 175, 155, 0.6117647059);
  font-family: "Baloo 2", cursive;
  width: 600px;
  font-size: 1rem;
  height: 600px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.quiz h3 {
  width: 100%;
  border-bottom: 3px solid #774f38;
  padding-bottom: 30px;
}
.quiz .questions {
  width: 100%;
}
.quiz .answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.quiz .answers button {
  width: calc(50% - 10px);
  padding: 10px 10px;
  margin: 5px;
  color: black;
  border: 1px solid #774f38;
}
.quiz .answers button:hover {
  background-color: #774f38;
  color: white;
}
.quiz .pokemon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 520px;
}
.quiz .pokemon img {
  width: 200px;
  max-height: 400px;
}
.quiz .pokemon .quizStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.quiz .pokemon .quizStats span {
  margin-left: auto;
}
.quiz .pokemon .quizStats p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.quiz .loader {
  transform: translate(-50%, 50%);
  left: 50%;
  top: 40%;
}

/*# sourceMappingURL=App.css.map */
