html {
  font-size: 125%;
  line-height: 1.15;
  min-height: 100vh;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: none;
  padding: none;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.wrapper {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.MuiOutlinedInput-notchedOutline {
  border-color: grey !important;
}

.loader {
  position: absolute;
  top: 25%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader span {
  display: block;
  margin-top: 20px;
}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames 0.8s linear 0s infinite;
}

.pokeball:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -4px;
}

.pokeball:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}

/* AnimationFrames */
@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "VT323", monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
.App .landingContainer {
  max-width: 650px;
  text-align: center;
  background: #f1eddf;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.48);
}
.App .landingContainer p {
  margin: 30px 0;
  font-size: 1.5rem;
}
.App .landingContainer h1 {
  font-size: 3rem;
}
.App .landingContainer button {
  font-size: 1.5rem;
  color: #774f38;
  border: 2px solid #774f38;
  border-radius: 5px;
  background-color: #f1eddf;
}
.App .landingContainer button:hover, .App .landingContainer button:focus {
  background-color: #774f38;
  color: #f1eddf;
  border-color: #f1eddf;
}

body {
  background: url("../assets/intro/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.progressBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 100px 0;
}
.progressBarContainer .progressBarContact,
.progressBarContainer .progressBarPicks {
  width: 50%;
  position: relative;
}
.progressBarContainer .progressBarContact button p,
.progressBarContainer .progressBarPicks button p {
  font-size: 1.2rem;
}
.progressBarContainer .contactMilestone {
  min-width: 50px;
  min-height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  border: 5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progressBarContainer .milestoneIcon {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 10;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: white;
}
.progressBarContainer .milestoneIcon svg {
  border-radius: 50%;
  pointer-events: none;
}
.progressBarContainer .milestoneIcon svg:hover {
  background-color: #ece5ce;
}
.progressBarContainer .milestoneIcon:hover {
  background-color: rgb(248, 248, 227);
}
.progressBarContainer .milestoneIcon p {
  font-size: 0.7rem;
  pointer-events: none;
}
.progressBarContainer .milestoneName {
  left: 0;
}
.progressBarContainer .milestonePhone {
  left: 50%;
}
.progressBarContainer .milestoneAddress {
  left: 100%;
}
.progressBarContainer button {
  color: black;
  background-color: #ece5ce;
}
.progressBarContainer .homeButton,
.progressBarContainer .pickButton {
  width: 100px;
  height: 50px;
  padding: 0;
  border-radius: 10px;
  background-color: transparent;
}
.progressBarContainer .homeButton img,
.progressBarContainer .pickButton img {
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
}
.progressBarContainer .homeButton {
  background-image: url("../assets/iconPack/home.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  border: 1px solid transparent;
  position: relative;
  top: 19px;
}
.progressBarContainer .homeButton:hover {
  border: 1px solid #f1eddf;
}
.progressBarContainer .pickButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: auto;
  width: auto;
  position: relative;
  top: 17px;
}
.progressBarContainer .pickButton img {
  width: 100%;
  object-fit: contain;
  height: 40px;
}

.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.formContainer form {
  width: 600px;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(153, 107, 107, 0.99);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.48);
}

.userNameContainer,
.userPhoneContainer,
.userAddressContainer {
  position: relative;
  width: 100%;
  min-width: 350px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.userNameContainer img,
.userPhoneContainer img,
.userAddressContainer img {
  width: 250px;
}
.userNameContainer input,
.userPhoneContainer input,
.userAddressContainer input {
  font-size: 1.4rem;
  font-weight: bold;
}
.userNameContainer label,
.userPhoneContainer label,
.userAddressContainer label {
  font-size: 1rem;
}

.pikaGif,
.charGif,
.cuboneGif,
.politoedGif {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 50px;
  height: 450px;
  transition: opacity 0.5s linear;
}
.pikaGif img,
.charGif img,
.cuboneGif img,
.politoedGif img {
  margin-top: 20px;
  max-height: 280px;
}

.charGif img {
  width: 200px;
}

.pikaGif img {
  margin-left: 100px;
}

.politoedGif img {
  width: 200px;
  max-height: 300px;
  margin-top: 10px;
}

.contactButtons {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 100px;
}
.contactButtons button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #774f38;
  border: 2px solid #c8c8a9;
  background-color: #f1eddf;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0 10px;
}
.contactButtons button:hover {
  color: #774f38;
  background-color: #ece5ce;
  border: 2px solid #ece5ce;
}
.contactButtons .testClearButton {
  top: 100px;
  right: 0;
  height: 50px;
  width: 50px;
}
.contactButtons .completeButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contactButtons .quizButton,
.contactButtons .skipButton {
  width: 50%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
}
.contactButtons .quizButton:hover,
.contactButtons .skipButton:hover {
  background-color: #774f38;
}
.contactButtons .quizButton:hover a,
.contactButtons .skipButton:hover a {
  color: #ece5ce;
}

.userNameContainer p,
.userPhoneContainer p,
.userAddressContainer p,
.infoComplete p {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2rem;
  font-size: 15px;
  color: #774f38;
  background-color: #ece5ce;
  padding: 30px 40px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px rgba(131, 175, 155, 0.6117647059);
  font-family: "VT323", monospace;
  max-width: 500px;
  font-size: 1.2rem;
}

.infoComplete p {
  padding: 20px 30px;
}

.userNameContainer p:after,
.userPhoneContainer p:after,
.userAddressContainer p:after,
.infoComplete p:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  -webkit-text-fill-color: #ece5ce;
  text-shadow: 22px 22px rgba(131, 175, 155, 0.6117647059);
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #ece5ce;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px rgba(131, 175, 155, 0.6117647059);
  z-index: -2;
}

.scrollText {
  position: relative;
}

.scrollTextIcon svg {
  animation: size 1s linear infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
@keyframes size {
  0% {
    transform: scale(1);
    color: #774f38;
  }
  50% {
    transform: scale(1.2);
    color: #c8c8a9;
  }
  100% {
    transform: scale(1);
    color: #774f38;
  }
}
.encounterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.infoComplete {
  width: 600px;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(153, 107, 107, 0.99);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.48);
}
.infoComplete .contactButtons {
  bottom: 20px;
}

.quizContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quiz {
  width: 600px;
  min-width: 350px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  align-items: center;
  background-color: rgba(153, 107, 107, 0.99);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.48);
  color: #ece5ce;
  position: relative;
}
.quiz h3 {
  width: 100%;
  border-bottom: 3px solid #774f38;
  padding-bottom: 30px;
  font-size: 2rem;
}
.quiz p {
  font-size: 1.4rem;
  background-color: #774f38;
  padding: 10px;
  border-radius: 10px;
}
.quiz .questions {
  width: 100%;
}
.quiz .answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-top: 100px;
}
.quiz .answers button {
  width: calc(50% - 10px);
  padding: 10px 10px;
  margin: 5px;
  color: black;
  border: 1px solid #774f38;
  background-color: #ece5ce;
  font-size: 1.2rem;
}
.quiz .answers button:hover {
  background-color: #774f38;
  color: white;
}
.quiz .pokemon {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  max-height: 520px;
  padding: 25px 0;
}
.quiz .pokemon img {
  width: 200px;
  max-height: 400px;
}
.quiz .pokemon .quizStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #774f38;
  border-radius: 5px;
  min-width: 175px;
}
.quiz .pokemon .quizStats span {
  margin-left: auto;
}
.quiz .pokemon .quizStats p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.quiz .loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 100;
  color: #f1eddf;
  background-color: rgba(0, 0, 0, 0.2392156863);
}
.quiz .completionButtons button {
  width: 100px;
  padding: 10px 10px;
  margin: 5px;
  color: black;
  border: 1px solid #774f38;
  background-color: #ece5ce;
  font-size: 1.2rem;
}
.quiz .completionButtons button:hover {
  background-color: #774f38;
  color: white;
}

.pickContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 0;
  background-color: #f1eddf;
  border-radius: 10px;
  animation: fadeInCard 1s ease-in 1;
}
.pokemonContainer .pokemonCount {
  height: 35px;
  width: 9%;
  min-width: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 20px;
}
.pokemonContainer .pokemonFilters {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.2s linear;
  padding: 0 20px;
}
.pokemonContainer .pokemonFilters .searcherButton {
  height: 45.75px;
  border: 1px solid gray;
  cursor: pointer;
  transition: all 0.1s linear;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eddf;
  border-radius: 5px;
  color: #774f38;
}
.pokemonContainer .pokemonFilters .searcherButton:hover, .pokemonContainer .pokemonFilters .searcherButton:focus, .pokemonContainer .pokemonFilters .searcherButton:active {
  border-color: #f1eddf;
  color: #f1eddf;
  background-color: #774f38;
}
.pokemonContainer .sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 260px;
  height: 45.75px;
}
.pokemonContainer .sort svg {
  pointer-events: none;
}
.pokemonContainer .sort p {
  margin: 0 5px;
}
.pokemonContainer .sort div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.pokemonContainer .sort .azBtn {
  width: 40px;
}
.pokemonContainer .sort input:checked + label {
  border-color: #f1eddf;
  color: white;
  background-color: #774f38;
}
.pokemonContainer .sort label {
  cursor: pointer;
  transition: all 0.1s linear;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eddf;
  border-radius: 5px;
  border: 1px solid #774f38;
  color: #774f38;
}
.pokemonContainer .sort label:hover, .pokemonContainer .sort label:focus, .pokemonContainer .sort label:active {
  border-color: #f1eddf;
  color: #f1eddf;
  background-color: #774f38;
}
.pokemonContainer .searchContainer {
  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
}
.pokemonContainer .searchContainer input {
  text-transform: capitalize !important;
}
.pokemonContainer .filterContainer {
  display: flex;
  justify-content: flex-end;
}
.pokemonContainer .search {
  width: 160px;
}

.pokeGenButtons {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pokeGenButtons .genRadio {
  margin: 0;
  height: 11.1111111111%;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokeGenButtons .genRadio input:checked + label {
  border-color: #f1eddf;
  color: white;
  background-color: #774f38;
}
.pokeGenButtons .genRadio label {
  cursor: pointer;
  transition: all 0.1s linear;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #f1eddf;
  border-radius: 5px;
  border: 1px solid #774f38;
  color: #774f38;
}
.pokeGenButtons .genRadio label:hover, .pokeGenButtons .genRadio label:focus, .pokeGenButtons .genRadio label:active {
  border-color: #f1eddf;
  color: #f1eddf;
  background-color: #774f38;
}
.pokeGenButtons .selected {
  border-color: #ece5ce;
  color: #ece5ce;
  background-color: #774f38;
}

.pokemonList {
  width: 90%;
  min-height: 500px;
  background-color: #ece5ce;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: scroll;
  padding: 10px;
  margin: 0;
}
.pokemonList .loader {
  border-radius: 10px;
  width: 101%;
  height: 101%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  cursor: wait;
}
.pokemonList .pokemonCard {
  width: calc(20% - 20px);
  margin: 10px;
  min-width: 140px;
}
.pokemonList .pokemonCard p {
  text-transform: capitalize;
  font-size: 1rem;
}
.pokemonList .pokemonCard span {
  font-size: 1rem;
}
.pokemonList .pokemonCard .tiltStyles {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  padding: 5px;
  border: 1px solid #774f38;
}
.pokemonList .pokemonCard img {
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 10px;
}
.pokemonList .pokemonCard img:hover {
  border: 1px solid #774f38;
  background-color: #f1eddf;
}

.bottomContainer {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-top: 20px;
}
.bottomContainer .pickerMessage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 25%;
  left: 20%;
  padding-right: 30px;
  font-size: 1.2rem;
}
.bottomContainer .pickerMessage * {
  margin-bottom: 10px;
}

.singlePokemon {
  position: absolute;
  border-radius: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeInCard 0.2s 1;
}
.singlePokemon .singleTop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.singlePokemon .singleImage {
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singlePokemon .singleStats {
  width: auto;
  min-width: 370px;
  color: #774f38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgb(236, 229, 206);
  padding: 30px;
  border-radius: 10px;
}
.singlePokemon .singleStats .pokeIcon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 5px 0 20px;
}
.singlePokemon .singleStats div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.singlePokemon .singleStats div .typeContainer,
.singlePokemon .singleStats div .statWrapper {
  width: auto;
}
.singlePokemon .singleStats div .statWrapper {
  display: flex;
  justify-content: flex-end;
}
.singlePokemon .singleStats h4 {
  text-transform: capitalize;
  font-size: 1.3rem;
  margin: 2px;
}
.singlePokemon .singleStats span {
  text-transform: capitalize;
  font-size: 1.3rem;
}
.singlePokemon .singleButtons {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.singlePokemon .singleButtons button {
  position: absolute;
  bottom: 10px;
  background-color: #774f38;
  color: #f1eddf;
  width: 250px;
  margin: 0 20px;
  font-size: 1.2rem;
}
.singlePokemon .singleButtons button:hover, .singlePokemon .singleButtons button:focus {
  background-color: #f1eddf;
  color: #774f38;
}
.singlePokemon .singleButtons .backButton {
  transform: translate(-50%, -50%);
  left: 25%;
}
.singlePokemon .singleButtons .pickButton {
  transform: translate(-50%, -50%);
  left: 75%;
}
.singlePokemon .loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 100;
  color: #f1eddf;
}

.favoriteContainer {
  position: absolute;
  z-index: 1000;
  background: #f1eddf;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.favoriteContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  background: white;
  border-radius: 10px;
}
.favoriteContainer h4 {
  font-size: 2rem;
  text-align: center;
}
.favoriteContainer .inputWrapper {
  display: flex;
}
.favoriteContainer .bottomWrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 70px;
  min-width: 600px;
}
.favoriteContainer .choiceView {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 10px;
  background-color: #ece5ce;
  margin-right: 50px;
}
.favoriteContainer .choiceView img {
  width: 200px;
}
.favoriteContainer .backButton {
  position: absolute;
  top: 40px;
  right: 40px;
}
.favoriteContainer .finalSubmit {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.favoriteContainer button {
  font-size: 1.3rem;
  color: black;
  border: 1px solid #774f38;
}

@keyframes fadeInCard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes growShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.konamiSecret {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.521);
}
.konamiSecret p {
  font-size: 1rem;
}
.konamiSecret .secretScreen {
  border: 1px solid #ece5ce;
  border-radius: 5px;
  height: 80%;
  min-height: 500px;
  max-width: 800px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.445);
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.48);
}
.konamiSecret .screenView {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 67%;
  position: relative;
}
.konamiSecret .screenView .snorlax {
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: fadeInEven 2s linear;
}
.konamiSecret .screenView .snorlax2 {
  width: 60px;
  height: 65px;
  position: absolute;
  top: 66%;
  left: 35%;
  animation: fadeIn 3s linear;
}
.konamiSecret .first {
  background: url("../assets/easterEgg/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  animation: fadeInEven 1s linear;
}
.konamiSecret .second {
  background: url("../assets/easterEgg/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: fadeIn 1s linear;
}
.konamiSecret .third {
  background: url("../assets/easterEgg/background3.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: fadeInEven 1s linear;
}
.konamiSecret .screenText {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f1eddf;
  color: #774f38;
  font-weight: bolder;
  padding: 10px 20px 50px;
  width: 100%;
  height: 33%;
  font-size: 1.45rem;
  position: relative;
}
.konamiSecret .screenText .overflowText {
  overflow-y: auto;
  height: 100%;
  line-height: 1.4rem;
}
.konamiSecret .continue {
  font-family: "VT323", monospace;
  border: 2px solid #774f38;
  background-color: #f1eddf;
  color: #774f38;
  border-radius: 5px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}
.konamiSecret .continue:hover {
  color: #f1eddf;
  background-color: #774f38;
  border-color: #f1eddf;
}
.konamiSecret .snorlax4 {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: snorlaxFlash 2s linear infinite;
}
.konamiSecret .fourth {
  background-color: rgba(0, 0, 0, 0.3215686275);
}
.konamiSecret .croppedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.konamiSecret .croppedContainer p {
  font-size: 1.2rem;
  color: #f1eddf;
}
.konamiSecret .croppedContainer h3 {
  font-size: 1.5rem;
  color: #f1eddf;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInEven {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes snorlaxFlash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1100px) {
  .pokemonContainer .pokemonFilters {
    flex-direction: column;
  }
  .pokemonContainer .searchContainer {
    width: 100%;
    margin-bottom: 10px;
  }
  .pokemonContainer .filterContainer {
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .progressBarContainer {
    margin: 30px 0;
    max-width: 95%;
  }
  .progressBarContainer .progressBarContact {
    width: 65%;
  }
  .progressBarContainer .homeButton {
    background-size: 40px;
    top: 0;
    max-width: 30px;
  }
  .progressBarContainer .pickButton {
    top: -2px;
    flex-direction: row;
  }
  .progressBarContainer .pickButton img {
    height: 35px;
    width: 40px;
  }
  .progressBarContainer .pickButton p {
    margin-top: 10px;
  }
  .pokemonContainer {
    margin-top: 30px;
  }
  .formContainer form {
    width: 100%;
  }
  .infoComplete {
    width: 100%;
  }
  .bottomContainer .pickerMessage {
    left: 15%;
    top: 20%;
  }
  .bottomContainer .pickerMessage ul {
    padding: 0;
  }
  .pokemonList {
    padding: 5px;
    max-height: 670px;
  }
  .pokemonList .pokemonCard {
    width: calc(33.3333333333% - 10px);
    margin: 5px;
  }
  .singlePokemon .singleStats {
    padding: 15px;
  }
  .singlePokemon .singleTop {
    flex-direction: column-reverse;
  }
  .singlePokemon .singleImage {
    max-width: 50%;
  }
  .konamiSecret .secretScreen {
    max-width: auto;
    min-width: auto;
    height: 90%;
  }
  .wrapper {
    max-width: 95%;
  }
}
@media (max-width: 600px) {
  .formContainer form {
    margin-top: 30px;
    width: 100%;
  }
  .progressBarContainer {
    display: flex;
    margin-top: 115px;
    justify-content: center;
  }
  .progressBarContainer .homeButton {
    position: absolute;
    left: 15px;
    top: 50px;
  }
  .progressBarContainer .progressBarContact {
    width: 90%;
  }
  .progressBarContainer .pickButton {
    position: absolute;
    top: 50px;
    right: 21px;
    flex-direction: row-reverse;
  }
  .infoComplete {
    margin-top: 30px;
  }
  .infoComplete p {
    padding: 15px;
    width: 350px;
  }
  .pokemonContainer .pokemonFilters {
    width: 100%;
  }
  .pokemonContainer .searchContainer,
  .pokemonContainer .filterContainer {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .bottomContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pokeGenButtons {
    flex-direction: row;
    width: auto;
    position: static;
    flex-wrap: wrap;
  }
  .pokeGenButtons .genRadio {
    width: 100px;
    height: 50px;
  }
  .pokemonList {
    width: 100%;
    margin-top: 20px;
  }
  .pokemonList .pokemonCard {
    width: calc(50% - 10px);
  }
  .singlePokemon {
    justify-content: space-evenly;
  }
  .singlePokemon .singleStats {
    min-width: 310px;
  }
  .singlePokemon .singleButtons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .singlePokemon .singleButtons button {
    position: static;
    margin-bottom: 30px;
  }
  .singlePokemon .singleButtons .pickButton,
  .singlePokemon .singleButtons .backButton {
    transform: none;
  }
  .favoriteContainer .bottomWrapper {
    flex-direction: column;
    min-width: auto;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .favoriteContainer .choiceView {
    margin: 20px auto;
  }
}

/*# sourceMappingURL=App.css.map */
