// variables for speech bubble by kirsten allen
$color-blue: #83af9b9c;
$color-green: #c8c8a9;
$color-brown: #774f38;
$color-beige: #ece5ceb2;
$color-beige-light: #ece5ce75;
$color-yellow: #f9cdad;
$color-pink: #fe4365;